---
- name: Create a directory if it does not exist
  ansible.builtin.file:
    path: "{{ node_apps_location }}"
    state: directory
    mode: '0755'

- name: Git checkout
  ansible.builtin.git:
    repo: "{{ git_repo }}"
    dest: "{{ node_apps_location }}"
    clone: yes

- name: Install packages based on package.json.
  become: true
  npm:
    path: "{{ node_apps_location }}"

- name: setting app as executable
  file: dest={{ node_apps_location }}/src/app.js mode=a+x

- name: make myapp.service
  blockinfile:

    dest: /lib/systemd/system/myapp.service
    block: |
      [Unit]
      Description=My app

      [Service]
      Restart=on-failure
      ExecStart=/usr/bin/node /usr/local/app/src/app.js
      User=nobody
      Group=nogroup
      Environment=DB_HOST=192.168.3.215
      Environment=DB_USER=user
      Environment=DB_PASSWORD=example
      Environment=DB_SCHEMA=db
      WorkingDirectory=/usr/local/app

      [Install]
      WantedBy=multi-user.target
    insertafter: EOF
    create: yes

- name: daemon-reload 
  command: systemctl daemon-reload

- name: enable myapp on start up
  command: systemctl enable myapp

- name: reloading myapp.service
  service:
    name: myapp
    state: restarted