---
- hosts: all
  become: true
  
  vars:
    node_apps_location: /usr/local/app
    git_repo: https://github.com/EAS-Clark/DiscordBot-Images.git
    db_env:
      BD_HOST_NAME_ENV: "192.168.3.215"

  vars_files:
    - vars/main.yml

  roles:
    - pymysql
    - { role: geerlingguy.mysql, become: yes, when: '"dbserver" in group_names'}
    - { role: mysql_query,  when: '"dbserver" in group_names'}
    - { role: nodejs,  when: '"vm" in group_names'}
    - { role: appInstall ,  when: '"vm" in group_names'}


